# Le Chiffre (stm32) board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_LE_CHIFFRE_STM32

config BOARD
    default "le_chiffre_stm32"

config ZMK_KEYBOARD_NAME
    default "Le Chiffre"

config ZMK_USB
    default y

config ZMK_KSCAN_MATRIX_POLLING
    default y

endif # BOARD_LE_CHIFFRE_STM32
